@use 'sass:math';

@mixin fluid-text($max: 48, $min: 16) {
  $maxViewportWidth: 1366;
  $minViewportWidth: 360;

  $maxSize: math.div($max, 16);
  $minSize: math.div($min, 16);
  $maxWidth: math.div($maxViewportWidth, 16);
  $minWidth: math.div($minViewportWidth, 16);

  $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
  $yAxisIntersection: -$minWidth * $slope + $minSize;

  font-size: clamp(
    #{$minSize * 1rem},
    #{$yAxisIntersection * 1rem} + #{$slope * 100vw},
    #{$maxSize * 1rem}
  );
}

@mixin flex-center($isInline:false){
    @if isInline{
        display: inline-flex;
    }@else{
        display: flex;
    }
    justify-content: center;
    align-items: center;
}

@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@mixin abs($x: false, $y: false) {
  position: absolute;

  @if $x {
    left: 50%;
  }

  @if $y {
    top: 50%;
  }

  @if $x and $y {
    transform: translate(-50%, -50%);
  } @else if $x {
    transform: translateX(-50%);
  } @else if $y {
    transform: translateY(-50%);
  }
}
